*{
  margin: 0;
  padding: 0;
}
.sansita-regular{
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  color: #4F4D46;
}
.grade-section{
  background-image: linear-gradient(#00000036),url("../images/img2.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display:flexbox;
  
}
.grade-text{
  width: 50%;
  height: 80vh;
  padding: 30px;
  flex-direction: column;
}
.grade-text h2{
  display: flex;
  margin:50px;
  font-size:48px;
}

.grade-text p{
  display: flex;
  margin:100px;
  font-size:larger;
}
.btn{
  width: 60%;
  max-width: 200px;
  height: 50px;
  background-color: #E0B689;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
}
.btn:hover{
  background-color: #e0b689c9;
}