*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select:none;
}
.signup-page{
  display: flex;
  height: 100vh;
}
.sansita-regular {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  color: #4F4D46;
}
.sideimage{
  flex: 1;
}
.sideimage img{
 width: 100%;
 height: 100vh;
 object-fit: cover;
}
.sideText{
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-text-container{
  font-size:xx-large;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 70px;
}
.text-container a{
  color: #4F4D46;
  text-decoration: none;
}
.text-container hr{
  width: 100px;
  height: 2px;
  background-color: #4F4D46;
  border: 0px;
  margin-top: 4px;
}
.login-txt a{
  color: #E0B689;
}
.login-txt hr{
  background-color: #E0B689;
}
.signup-txt hr{
  background-color: #E0B689;
}

.signup-txt a{
  color: #E0B689;
}
.form-input{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputform{
  width: 485px;
  height: 60px;
  padding: 12px 16px;
  outline: none;
  margin-bottom: 50px;
  border: 1px solid #EEDECD;
  background-color: #FAF5F0;
  border-radius: 10px;
  font-size: 14px;
  color: #4F4D46;
}
.btn , .btn-grade{
  width: 60%;
  max-width: 200px;
  height: 50px;
  background-color: #E0B689;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
}
.btn:hover{
  background-color: #e0b689c9;
}
.error{
  color: red;
  display: block;
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: 14px;
}
.grade-section{
  background-image: linear-gradient(#00000036),url("../images/img2.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display:flexbox;
}
.grade-text{
  width: 50%;
  height: 80vh;
  padding: 30px;
  flex-direction: column;
} 
.grade-text h1{
  display: flex;
  margin:20px;
  font-size:48px;
}
.grade-text h2{
  display: flex;
  margin:50px;
  font-size:42px;
}
.grade-text p{
  display: flex;
  margin:100px;
  font-size:larger;
} 
.btn-grade{
  background-color: #FAF5F0;
  border: 1px solid #4F4D46;
  border-radius: 15px;
  cursor: pointer;
  margin: 120px;
  color: #4F4D46;
}
.btn-grade a{
  text-decoration: none;
  color: #4F4D46;
}
.btn-grade:hover{
  background-color: #faf5f0d6;
  color: #4f4d46c8;
  border: 1px solid #4f4d46c8;
}
.btntry{
  display: none;
}
@media (max-width: 480px) {
  .signup-page {
    flex-direction: column;
  }
  .sideimage img {
    width: 100%;
    height: 40vh;
    display: block;
  }
  .sideText {
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  .form-text-container {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  .inputform, .btn {
    width: 100%;
  }
   .grade-section {
    height: auto;
    padding: 20px;
  }

  .grade-text {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .grade-text h1 {
    font-size: 28px;
  }

  .grade-text h2 {
    font-size: 24px;
  }
  .grade-text p {
    font-size: 16px;
    margin: 20px 0;
  }

  .btn-grade {
    width: 100%;
    margin: 20px 0;
  }
}
@media (min-width: 480.99px) and (max-width: 767px) {
  .signup-page {
    flex-direction: column;
  }
  .sideimage img {
    width: 100%;
    height: 50vh;
    display: block;
  }
  .sideText {
    width: 100%;
    padding: 30px;
    justify-content: center; 
    align-items: center;     
    text-align: center; 
  }
  .text-container hr{
    width: 50px;

  }
  .form-text-container {
    display: ruby-text;
    flex-direction: column;
    font-size: 20px;
    margin: 20px;
  }
  .inputform, .btn {
    width: 150%;
    max-width: 400px;
  }
   .grade-section {
    height: auto;
    padding: 30px;
  }

  .grade-text {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .grade-text h1 {
    font-size: 36px;
  }

  .grade-text h2 {
    font-size: 32px;
  }

  
  .grade-text p {
    font-size: 18px;
    margin: 30px 0;
  }

  .btn-grade {
    width: 80%;
    margin: 20px auto;
  }
}
@media (min-width: 767.99px) and (max-width: 1024px) {
  .signup-page {
    flex-direction: row;
  }
  .aside-text{
    width: 100%;

  }
  .sideimage {
    flex: 1;
  }
  .sideText {
    flex: 1;
    padding: 40px;
  }
  .form-input {
    align-items: center;
  }
  .inputform {
    width: 130%;
  }
  .btn {
    width: 60%;
  }
   .grade-section {
    height: 100vh;
    padding: 40px;
    flex-direction: column;
  }

  .grade-text {
    width: 100%;
    height: auto;
    padding: 40px;
  }

  .grade-text h1 {
    font-size: 42px;
  }

  .grade-text h2 {
    font-size: 38px;
  }
  .grade-text h3 {
    font-size: 28px;
    margin: 0 50px;
  }
  .grade-text p {
    font-size: 20px;
    margin: 40px 0;
  }

  .btn-grade {
    width: 70%;
    margin: 20px auto;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .inputform {
    width: 450px;
  }
  .btn {
    width: 200px;
  }
   .grade-section {
    height: 100vh;
    padding: 60px;
    flex-direction: column;
  }

  .grade-text {
    width: 50%;
    height: 80vh;
    padding: 40px;
  }

  .grade-text h1 {
    font-size: 48px;
  }

  .grade-text h2 {
    font-size: 42px;
  }
  .grade-text h3 {
    font-size: 33px;
    margin: 0 50px;
  }

  .grade-text p {
    font-size: 22px;
    margin: 50px 0;
  }

  .btn-grade {
    width: 60%;
    margin: 20px auto;
  }

}

@media (min-width: 1367px) {
  .sideText {
    padding: 80px;
  }
  .inputform {
    width: 500px;
  }
  .btn {
    width: 250px;
  }
   .grade-section {
    height: 100vh;
    padding: 80px;
    flex-direction: row; 
  }

  .grade-text {
    width: 50%;
    height: 80vh;
    padding: 60px;
  }

  .grade-text h1 {
    font-size: 48px;
  }

  .grade-text h2 {
    font-size: 44px;
    margin-left: -20px;

  }
  .grade-text h3 {
    font-size: 35px;
    margin: 0 50px;
  }

  .grade-text p {
    font-size: 24px;
    margin: 50px 70px;
  }

  .btn-grade {
    width: 250px;
    margin: 30px auto;
  }

}
